.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: auto;
  font-size: 16px;
  line-height: 20px;
  /*For Inter, use Arial as a fallback and use the generic sans-serif
family in case the user doesn’t have either of the other fonts.
For Noto Serif, use Times New Roman as a fallback and use the
generic serif family in case the user doesn’t have either of
the other fonts.*/
}
